body {

}

h1 {
    font-size:80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:900;
    margin-bottom:0;
}
h2 {
    font-size:48px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
}
h3 {
    font-size:48px;
}
h4 {
    font-size:36px;
    font-family: 'Source Sans Pro', sans-serif;
}
h5 {
    font-size:24px;
}
h6 {
    font-size:18px;
}
p {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight:400;
}

/** NAV BAR **/
#primary-menu ul li > a {
    font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    color:#555555;
}

#primary-menu > ul > li:nth-child(1) > a {
    color:#FF7A00;
}

#primary-menu > ul > li:nth-child(2) > a {
    color:#3C948B;
}

#primary-menu > ul > li:nth-child(3) > a {
    color:#DF6C4F;
}

#header.full-header #primary-menu > ul{
    padding-right:0;
}

#header-wrap > div {
    padding-left:0 !important;
    padding-right:0 !important;
}
@media (max-width:1150px) {
    #primary-menu ul li > a {
        padding-left:10px;
        padding-right:10px;
        font-size:18px;
    }
}

@media (max-width:1025px) {
    #primary-menu ul li > a {
        padding-left:8px;
        padding-right:8px;
    }
}
#primary-menu-trigger {
    font-size:25px;
}

/** slider **/

#slide-1 h1 {
    text-shadow: 2px 2px 4px #555555;
    line-height:70px;
}
#slide-1 h4 {
    font-weight:400;
    text-shadow: 1px 1px 5px #000000;
    margin-bottom:80px;
}
#slide-1 p {
    text-shadow: 1px 1px 5px #000000;
}
.device-sm #slide-1 h1 {
    font-size:60px;
}
.device-sm #slide-1 h4 {
    font-size:28px;
}
.device-sm #slide-1 p {
    font-size:20px;
}
.device-sm #slide-2 h2 {
    font-size:48px;
}
.device-sm #slide-2 p {
    font-size:26px;
}
#slide-2 h2 {
    color:#3C948B;
    font-size:60px;
    font-weight:900;
    text-transform:none;
}
.icon-star3 {
    color:#FFBF00;
    font-size:30px;
}
#slide-2 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000;
    padding-right:100px;
    margin-bottom:30px;
    font-size:30px;
}
#slide-2 .author {
    font-size:24px;
}

#slide-2 > div > div {
    margin-top:-100px;
}
#slide-3 .slider-caption.slider-caption-right {
    margin-right:-120px;
}

#slide-3 h2 {
    font-weight:900;
    color:#FFF;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.50);
    letter-spacing:0;
    margin-bottom:0;
    font-size:60px;
}
#slide-3 h4 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight:400;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.50);
}
#slide-3 p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size:24px;
    color:#FFF;
    padding-right:250px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.50);
    line-height:30px;
    margin-bottom:30px;
}
#slide-3 .button {
    padding-left:100px;
    padding-right:100px;
}
.device-sm #slide-3 h2 {
    font-size:54px;
}
#mobile-slider img {
    width:100%;
}

/** PHONE SLUG 1 **/
#phone-slug-1 {
    background: #3C948B;
    padding-top:25px;
    padding-bottom:0px;
}
.content-wrap {
    padding:0;
}
#phone-slug-1 h6 {
    font-size:18px;
    color:#FFF;
    line-height:22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
}
#phone-slug-1 .text-phone {
    font-size:36px;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
    line-height:25px;
}
#phone-slug-1 .text-phone a {
    color:#FFF;
}
#phone-slug-1  .col-sm-6.tleft {
    border-left:1px solid #FFF;
}
#phone-slug-1 .button {
    margin:2.5px 0;
}
#phone-slug-1 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:21px;
    color:#FFF;
    margin-top:15px;
}
.existing-phone {
    font-weight:600;
}
.existing-phone a {
    color:#FFF;
}
.device-xs #phone-slug-1 div.col-sm-6.tright, .device-xxs #phone-slug-1 div.col-sm-6.tright {
    text-align:center !important;
}
.device-xs #phone-slug-1 h6, .device-xxs #phone-slug-1 h6 {
    font-size:24px;
    font-weight:300;
    margin-bottom:15px !important;
}
.device-xs .text-phone, .device-xxs .text-phone {
    font-size: 40px !important;
    margin-bottom:20px !important;
}
.device-xs #phone-slug-1 .col-sm-6.tleft, .device-xxs #phone-slug-1 .col-sm-6.tleft {
    text-align:center !important;
    border-left:none;
}
.device-xs p, .device-xxs p {
    font-size:20px;
    font-weight:300;
}
.device-xs .existing-phone, .device-xxs .existing-phone {
    font-size:24px;
    margin-top:-15px;
}

/** MEET THE DOCTOR **/

#meet-the-doctor {
    padding-top:60px;
    background-color:#F4F4F4;
}
#meet-the-doctor h2 {
    color:#000000;
}
#meet-the-doctor p {
    font-family: 'Source Sans Pro', sans-serif;
    color:#555;
    font-size:16px;
    line-height:23px;
}